<meta charset="utf-8">
<title></title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<link rel="shortcut icon" href="../favicon.ico" type="image/x-icon">
<link rel="icon" href="/assets/img/logo/png/casuals16x16.png" sizes="16x16">
<link rel="icon" href="/assets/img/logo/png/casuals32x32.png" sizes="32x32">
<link rel="icon" href="/assets/img/logo/png/Casuals48x48.png" sizes="48x48">

<script src="/assets/js/plugins.js"></script>

<link rel="stylesheet" href="/assets/css/style.css">

