<!doctype html>
<html>

<head>
  <div id="include_head"></div>
</head>

<div id="include_header"></div>

<body>
  <link rel="import" href="components/header.html">
  <h1 style="text-align: center;">Lorem Ipsum</h1>
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed ac lorem in ipsum sollicitudin placerat. Suspendisse
    dapibus risus non aliquam varius. In id molestie ex. Etiam vel viverra felis. Interdum et malesuada fames ac ante
    ipsum primis in faucibus. Integer nunc turpis, egestas gravida maximus nec, congue eget lacus. Donec quam neque,
    egestas eu nibh eget, volutpat mollis sapien. Mauris nisl orci, congue vel enim et, bibendum suscipit magna. Etiam
    vitae molestie tellus, a rhoncus nisl. Nam in posuere risus. Nullam bibendum urna non lorem convallis, eget
    tincidunt magna tincidunt. In ex sem, tincidunt et placerat ultrices, varius id nunc. Ut feugiat, nibh eget varius
    congue, augue lectus pellentesque felis, non aliquam metus tellus vel urna. Nullam vel magna elit. Interdum et
    malesuada fames ac ante ipsum primis in faucibus. Phasellus condimentum, lectus sed congue vulputate, magna neque
    varius nunc, ut vestibulum sem ligula a justo.
  </p>

</body>

</html>