<!doctype html>
<html class="no-js" lang="">

<head>
<meta charset="UTF-8">
{{>components/html_head}}

</head>

<body>
	<section id="header">
		<div class="header container">
			<div class="nav-bar">
				<div class="brand">
					<a href="/index">
						<h1>
							CA<span>S</span>UAL<span>S</span>
						</h1>
					</a>
				</div>
				<div class="nav-list">
					<div class="hamburger">
						<div class="bar"></div>
					</div>
					<ul>
						<li><a href="/" data-after="Home">Home</a></li>
					</ul>
				</div>
			</div>
		</div>
	</section>
	<section id="LogInError">
		<div class="error container">
			<div>
				<h1>Something went wrong</h1><br>
				<h1>please try again</h1>
				<a href="/login" type="button" class="cta">Try again</a>
			</div>
		</div>
	</section>
	<!-- Javascript -->
	<script src="/assets/js/app.js" type="text/javascript"></script>
	<!-- End of Javascript -->
</body>

</html>